@use '../styles/App' as app;

.cardStyle {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: app.calculateSize(326vw);
    height: app.calculateSize(490vw);
    padding: app.calculateSize(23vw); 
    border-radius: app.calculateSize(5vw);
    background: #FFF;
    box-shadow: 0px app.calculateSize(15vw) app.calculateSize(70vw) app.calculateSize(-11vw) rgba(43, 28, 1, 0.04);

    .imageCard {
        height: app.calculateSize(170vw);
        align-self: center;
    }

    div:nth-of-type(1) {
        
        span:nth-of-type(-n+2) {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: app.calculateSize(12vw);
            line-height: 130%;
            color: #3F4E65;
        }
    }

    span:nth-of-type(1) {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: app.calculateSize(16vw);
        line-height: 130%;
        color: #111111;
    }

    div:nth-of-type(2) {

        span:nth-of-type(1) {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: calculateSize(14vw);
            line-height: 150%;
            color: #3F4E65;
        }

        span:nth-of-type(2) {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: app.calculateSize(14vw);
            line-height: 150%;
            color: #111111;
        }
    }

    div:nth-of-type(3) {

        span:nth-of-type(1) {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: app.calculateSize(14vw);
            line-height: 150%;
            color: #3F4E65;
        }

        span:nth-of-type(2) {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: app.calculateSize(14vw);
            line-height: 150%;
            color: #111111;
        }
    }

    div:nth-of-type(4) {

        span:nth-of-type(1) {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: app.calculateSize(14vw);
            line-height: 150%;
            color: #3F4E65;
        }

        span:nth-of-type(2) {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: app.calculateSize(14vw);
            line-height: 150%;
            color: #111111;
        }
    }

    span:nth-of-type(2) {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: app.calculateSize(16vw);
        line-height: 130%;
        color: #111111;
        align-self: center;
    }

    button:nth-of-type(1) {
        display: flex;
        margin-bottom: 0;
        justify-content: center;
        width: app.calculateSize(153vw);
        height: app.calculateSize(45vw);
        background: #FFC85E;
        border-radius: app.calculateSize(80vw);
        border: 0px solid #fff;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: app.calculateSize(10vw);
        line-height: app.calculateSize(12vw);
        letter-spacing: 0.15em;
        color: #FFFFFF;
        align-self: center;
        padding-top: app.calculateSize(15vw);

        img {
            width: app.calculateSize(27vw);
            height: app.calculateSize(27vw);
            margin-top: app.calculateSize(-8vw);
            margin-left: app.calculateSize(5vw);
        }
    }
}