@use '../styles/App' as app;

.searchGroup {
    display: flex;

    .manufacturerSearch {
        background-color: #EDEDED;
        background-repeat: no-repeat;
        background-position: 95% 50%;
        width: app.calculateSize(238vw);
        height: app.calculateSize(59vw);
        border-radius: app.calculateSize(36vw);
        border: 0px solid white;
        padding-left: 7%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: app.calculateSize(12vw);
        line-height: 150%;
        color: #5C6370;
        opacity: 0.6;
    }

    .searchButton {
        width: app.calculateSize(39vw);
        height: app.calculateSize(39vw);
        border-radius: app.calculateSize(19.5vw);
        border: 0px solid white;
        background-image: url(../../public/images/search_icon_group.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: app.calculateSize(-45vw);
        margin-top: app.calculateSize(10vw);
        cursor: pointer;
        z-index: 1;
    }
}