@use '../styles/App' as app;

div {

    span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: app.calculateSize(16vw);
        line-height: 150%;
        color: #111111;
    }

    .sorting {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: app.calculateSize(16vw);
        line-height: 150%;
        color: #3F4E65;
        border: none;
    }
}